<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_ContactForm>
            <version>1.0.0.1</version>
        </Loewenstark_ContactForm>
    </modules>
    <global>
        <helpers>
            <ls_contactform>
                <class>Loewenstark_ContactForm_Helper</class>
            </ls_contactform>
        </helpers>
        <blocks>
            <ls_contactform>
                <class>Loewenstark_ContactForm_Block</class>
            </ls_contactform>
        </blocks>
        <models>
            <ls_contactform>
                <class>Loewenstark_ContactForm_Model</class>
            </ls_contactform>
        </models>
        <resources>
            <ls_contactform_setup>
                <setup>
                    <module>Loewenstark_ContactForm</module>
                    <class>Loewenstark_ContactForm_Model_Resource_Setup</class>
                </setup>
            </ls_contactform_setup>>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ls_contactform>
                    <file>ls_contactform.xml</file>
                </ls_contactform>
            </updates>
        </layout>
        <translate>
            <modules>
                <ls_contactform>
                    <files>
                        <frontend>Loewenstark_ContactForm.csv</frontend>
                    </files>
                </ls_contactform>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ls_contactform>
                    <files>
                        <adminhtml>Loewenstark_ContactForm.csv</adminhtml>
                    </files>
                </ls_contactform>
            </modules>
        </translate>
    </adminhtml>
</config>
